.wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 25%;
  z-index: 999;
}

/* 登陆页面的动画效果 */
/* 登陆页面的初始化 */
.fade-login-appear-active {
  opacity: 1;
  left: calc((100% - 1000px) / 2 + 500px);
}

/* 登陆页面进入的动画效果 */
.fade-login-enter {
  opacity: 0;
  left: calc((100% - 1000px) / 2 + 250px);
}

.fade-login-enter-active {
  opacity: 1;
  left: calc((100% - 1000px) / 2 + 500px);
}

.fade-login-enter-done {
  opacity: 1;
  left: calc((100% - 1000px) / 2 + 500px);
}

.fade-login-enter-active {
  transition: opacity 0.3s, left 0.3s;
}

/* 登陆页面退出的动画效果 */
.fade-login-exit {
  opacity: 1;
  left: calc((100% - 1000px) / 2 + 500px);
}

.fade-login-exit-active {
  opacity: 0;
  left: calc((100% - 1000px) / 2 + 250px);
}

.fade-login-exit-done {
  opacity: 0;
  left: calc((100% - 1000px) / 2 + 250px);
}

.fade-login-exit-active {
  transition: opacity 0.3s, left 0.3s;
}

/* 注册页面的动画效果 */
/* 注册页面的初始化 */
.fade-register-appear-active {
  opacity: 1;
  left: calc((100% - 1000px) / 2);
}

/* 注册页面进入的动画效果 */
.fade-register-enter {
  opacity: 0;
  left: calc((100% - 1000px) / 2 + 250px);
}

.fade-register-enter-active {
  opacity: 1;
  left: calc((100% - 1000px) / 2);
}

.fade-register-enter-done {
  opacity: 1;
  left: calc((100% - 1000px) / 2);
}

.fade-register-enter-active {
  transition: opacity 0.3s, left 0.3s;
}

/* 注册页面退出的动画效果 */
.fade-register-exit {
  opacity: 1;
  left: calc((100% - 1000px) / 2);
}

.fade-register-exit-active {
  opacity: 0;
  left: calc((100% - 1000px) / 2 + 250px);
}

.fade-register-exit-done {
  opacity: 0;
  left: calc((100% - 1000px) / 2 + 250px);
}

.fade-register-exit-active {
  transition: opacity 0.3s, left 0.3s;
}

.sss {
  stroke-width: 5px;
}
