.beeeditor-input {
  padding: 16px;
  background-color: white;
  min-height: 500px;
}

.beeeditor-input:focus-visible {
  outline: none;
}

.beeeditor-heading-h1 {
  font-size: 24px;
}

.beeeditor-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 8px 0 8px 0;
  tab-size: 2;
  overflow-x: auto;
  position: relative;
}
